/* HEADER STYLE STARTED */

.site__header {
  background-color: #ffffff;
}

.header__section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.header__section-start {
  display: flex;
}

.header__section-logo {
  margin-right: 58.18px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  width: 249px;
}

.header__nav-link {
  font-size: 15px;
  line-height: 25px;
  color: var(--desc);
}

.header__nav-link:active {
  color: var(--link);
}

.header__section-btn {
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  background-color: var(--link);
  padding: 14px 39px;
}

.header__section-btn:active {
  color: var(--link);
  background-color: var(--white);
  border: 3px solid var(--link);
  padding: 11px 36px;
}

/* HEADER STYLE FINISHED */

/* MAIN STYLE STARTED */

/* HERO STYLE STARTED */

.hero__section {
  background-image: url(/images/home-images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__section-wrapper {
  padding: 153px 0;
}

.hero__section-title {
  width: 500px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--white);
  margin-bottom: 40px;
}

.hero__section-desc {
  position: relative;
  width: 405px;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  margin-left: 95px;
  margin-bottom: 40px;
}

.hero__section-desc::before{
  position: absolute;
  display: inline-block;
  content: url(/images/home-images/hero-before.svg);
  top: calc(50% - 10px);
  left: calc(50% - 502px);
  width: 203px;
  height: 15px;
}

.hero__section-desc::after{
  position: absolute;
  content: url(/images/home-images/hero-after.svg);
  top: calc(50% - 10px);
  left: calc(50% + 240px);
}

.hero__section-btn {
  display: inline-block;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  background-color: var(--link);
  padding: 14px 39px;
  margin-left: 95px;
}

.hero__section-btn:active{
  color: var(--link);
  background-color: transparent;
  border: 3px solid var(--link);
  padding: 11px 36px;
}

/* HERO STYLE FINISHED */

/* GUIDE STYLE STARTED */
/* GUIDE STYLE FINISHED */

/* INFO STYLE STARTED */
/* INFO STYLE FINISHED */

/*  PRODUCT STARTED */
/*  PRODUCT FINISHED */

/* MAIN STYLE FINISHED */

/* FOOTER STYLE STARTED */
/* FOOTER STYLE FINISHED */
